#master{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#other{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
}
#Fractals{
    display: flex;
    justify-content: center; 
}
body{
    padding: 3%;

}
